@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.principalImageContainer{
    height: 20%;
    display: flex;
}

.imageContainer{
    width: 800px;
    height: auto; 
    /* border: 1px solid green; */
    /* position: absolute; */
    top: 70px;
    right: 10px;
    clip-path: inset(0 25% 0 25%);
}

.principalContainer{
    display: flex;
    justify-content: center;
    height: 100%;
    /* border: 1px solid red; */
}

.detailsContainer{
    /* border: 1px solid red; */
    width: 700px;
    margin-right: 400px;
    text-align: start;
}

.nameContainer{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    padding-bottom: 30px;
}

.descriptionContainer{
    color: white;
    font-family: 'Montserrat', sans-serif;
    /* border-top: 2px solid #8080803a; */
    padding-top: 30px;
}

.containerNameImageRole{
    display: flex;
    align-items: center;
}

.nameRole{
    font-size: 2.7rem;
    color: white;
    height: 30px;
    font-family: 'Oswald', sans-serif;
}

.imageRole{
    width: 40px;
    height: 60px;
    padding-top: 20px;
    margin-left: 10px;
}

.descriptionRole{
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 480px) {
    .principalContainer{
        flex-direction: column;
        width: 100%;
    }

    .principalImageContainer{
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imageContainer{
        width: 600px;
        height: auto;
        margin-bottom: 20px;
        transform: scale(1.1);
        margin-bottom: 20px;
    }
    
    .descriptionContainer{
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .descriptionRole{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #80808056;
    }
    
    .detailsContainer{
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    
    .nameContainer{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        padding-bottom: 0;
        font-size: 4.5rem;
    }

    .containerNameImageRole{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #80808056;
    }

    .containerImageAbilities{
        display: flex;
        width: 100%;
        margin: 20px 0 20px 10%;
        padding-left: 0;
    }

    .containerLiAbilities{
        width: 20%;
        text-align: center;
        list-style: none;
    }
    
    .imageAbilities{
        width: 70px;
        border: 1px solid white;
        border-radius: 20%;
        padding: 5px;
    }

    .imageAbilities:hover{
        background-color: #ff445473;
    }
}





/* @media (max-width: 320px) {
    .principalContainer{
        flex-direction: column;
        width: 320px;
    }
    
    .principalImageContainer{
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .imageContainer{
        margin: 0 auto;
        width: 600px;
        height: auto;
        margin-bottom: 20px;
        transform: scale(1.1);
        margin-bottom: 20px;
    }
    
    .descriptionContainer{
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
    }

    .descriptionRole{
        width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #80808056;
    }
    
    .detailsContainer{
        width: 100%;
        margin: 0 auto;
        margin-top: 1rem;
    }
    
    .nameContainer{
        display: flex;
        justify-content: center;
        margin-top: 80px;
        margin-bottom: 0;
        padding-bottom: 0;
        font-size: 4.5rem;
    }

    .containerNameImageRole{
        width: 90%;
        margin: 0 auto;
        padding-bottom: 20px;
        border-bottom: 1.5px solid #80808056;
    }

    .containerImageAbilities{
        width: 100%;
        margin-left: 10px;
    }

    .imageAbilities{
        width: 20%;
        border: 1px solid white;
        border-radius: 20%;
        padding: 5px;
        margin: 15px 5px 15px 5px;
    }
} */