.imageCard{
    width: 300px;
    height: auto;
    border: 3px solid rgb(95, 95, 95);
    border-radius: 10px; 
    position: relative;
}

.imageCard:hover{
    content: "";
    background: linear-gradient(rgba(255,255,255,0), violet);
}

.agentCard{
    list-style: none;
    margin-top: 65px;
}

@media (max-width: 320px) {
    .agentCard{
        width: 100%;
        padding: 0;
        margin: 0 auto;
        margin-top: 65px;
    }
}