.h1{
    color: wheat;
}

.agentsGrid{
    display: grid;
    grid-template-columns: repeat(3, auto);
}

@media (max-width: 320px) {
    .agentsGrid{
        padding: 0;
        grid-template-columns: repeat(1, auto);
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .agentsGrid{
        padding: 0;
        grid-template-columns: repeat(1, auto);
        margin: 0 auto;
    }
}