.principalContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
}

.liContainer{
    list-style: none;
    margin: 0 10px 0 10px;
    text-align: center;
    text-decoration: none;
}

.linkContainer{
    text-decoration: none;
    color: white;
}

.logo{
    width: 70px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-right: 1px solid gray;
    padding-right: 25px;
}

.logo:hover{
    filter: none;
    transition: .5s;
}