@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.principalContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 2px solid #8080803a;
}

.liContainer{
    list-style: none;
    margin: 0 30px 0 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bolder;
}


.divLiContainer{
    display: flex;
    width: 60%;
}

.liLogoContainer{
    list-style: none;
}

.linkContainer{
    text-decoration: none;
    color: white;
    padding: 0 10px 0 10px;
    padding-bottom: 29.5px;
}

.linkContainer:hover, .linkContainer:focus{
    border-bottom: 2px solid white;
}

.divLogoContainer{
    border-right: 2px solid #8080803a;
    width: 100px;
    padding: 15px 25px 15px 10px;
    margin: 0 25px 0 25px;
}

.logo{
    width: 80%;
    height: 90%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.logo:hover{
    filter: none;
    transition: .5s;
}