.navbar{
    position: fixed;
    top: 0;
    min-width: 100%;
    z-index: 1;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../assets/valorant-logo.png);
}

.navbar>.container{
    justify-content: end;
}


@media (max-width: 320px) {
    .navbar{
        min-width: 100% !important;
    }
}