.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-light .navbar-toggler-icon{
    background-image: url(../assets/valorant-logo.png);
}

.navbar>.container{
    justify-content: end;
}